tr:nth-child(odd) > td:nth-child(odd) {
    background: #F6F8FC;
}

tr:nth-child(even) > td:nth-child(even) {
    background: #F6F8FC;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 0 1px #dfdfdf;
}

td {
    padding: 20px;
    letter-spacing: 1px;
    text-align: center;
}

