@font-face {
    font-family: 'MeriendaOne Regular';
    src: local('MeriendaOne Regular'), url("fonts/MeriendaOne-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Rubik Bold';
    src: local('Rubik Bold'), url("fonts/Rubik-Bold.woff2") format('woff2');
}

@font-face {
    font-family: 'Rubik Regular';
    src: local('Rubik Regular'), url("fonts/Rubik-Regular.woff2") format('woff2');
}

* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    /*background: url(./icons/purpleBg.svg) no-repeat fixed left -10px top -40px,*/
    /*url(./icons/blueBg.svg) no-repeat fixed center top -40px,*/
    /*url(./icons/purpleBg.svg) no-repeat fixed right -80px top -50px,*/
    /*url(./icons/blueBg.svg) no-repeat fixed right -20px bottom -50px,*/
    /*url(./icons/purpleBg.svg) no-repeat fixed center bottom -40px;*/
    /*background-size: 150px, 100px, 300px, 200px, 100px;*/
    color: #3B454E;
    font-family: Rubik Regular, serif;
}

a {
    text-decoration: none;
}

ul{
    padding: 0;
}

li {
    list-style-type: none;
}

p::selection {
    /*color: #3B454E;*/
    /*background: #5AC6D4;*/
}

p::-moz-selection {
    /*color: #3B454E;*/
    /*background: #5AC6D4;*/
}


 /*设置滚动条的样式 */
::-webkit-scrollbar {
    width: 1px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);*/
    /*border-radius: 10px;*/
}

/* 滚动条滑块 */
/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 10px;*/
/*    background: linear-gradient(#D09FFE, #FFFFFF);*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
/*}*/
